<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5bbab8df-c36d-47a7-970f-8db832d9158a" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5bbab8df-c36d-47a7-970f-8db832d9158afileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
