<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="21de97af-7325-4ee1-8945-e6f61f2f1c6c" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="21de97af-7325-4ee1-8945-e6f61f2f1c6cfileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
