<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c447b982-1515-46c7-b2d8-edea59f2ca7c" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c447b982-1515-46c7-b2d8-edea59f2ca7cfileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="6d50b32b-f8df-43aa-af19-47eb04dd5d1a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="10b4b862-be6b-4451-be54-bb2149defa91">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="361fb0a1-6ede-46fc-bc25-556fbd2483d6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="ab658a58-808b-4f39-86ed-878aa02f33d2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
