<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="77211ff0-0115-497f-9c5d-5d3ffc31859b" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="77211ff0-0115-497f-9c5d-5d3ffc31859bfileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
