<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="73ad939f-5dae-4f28-a806-1fe3a4db8e42" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="73ad939f-5dae-4f28-a806-1fe3a4db8e42fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="ba600d77-9581-4ec2-8372-f7d299286107">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
