<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="db2eca86-0c81-4f82-9d13-5323062f181f" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://maps.googleapis.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="db2eca86-0c81-4f82-9d13-5323062f181ffileName">https%3A%2F%2Fmaps.googleapis.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://maps.googleapis.com</con:endpoint>
  </con:endpoints>
</con:interface>
